.list {
    margin: 15px;
    border-radius: 15px;
    height: 600px;
    width: 300px;
    overflow-y: auto;
    max-height: 10000px; /* Set initial maximum height */
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.list-title-container{
    border-bottom: 1px solid black;
    margin: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.list-title {
    margin: 10px 0;
    font-size: 25px;
    font-weight: bold;
}

.list-sorting{
    background: black !important;
}

.list-sorting:hover{
    background: purple !important;
}

.list-items {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}

.list-item-container{
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 5px 0;
}

.list-item-container:hover{
    background: lightgray;
    transition: .2s;
}

.list-item {
    margin: 5px 0 5px 15px;
    list-style: none;
    font-size: 18px;
    display: flex;
    justify-content: space-between; /* Align button on the left and text on the right */
    align-items: center; /* Vertically center content */
}

.list-item:hover{
    cursor: grab;
}

.list-options-container{
    display: flex; /* Ensure the buttons stay on the same side */
    align-items: center; /* Vertically center buttons */
}

.list-options {
    font-size: 25px;
    height: 15px;
    margin-right: 15px; /* Add right margin for spacing */
    background: none;
    border: none;
}

.list-options:hover{
    cursor: pointer;
    color: purple;
}

.highlighted {
    color: purple;
    font-weight: bold;
}
